#todoContainer{
    font-family: Arial, Helvetica, sans-serif;
}
.topContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.todoList{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
}
.todoItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
}
.completed{
    background-color: greenyellow;
}
.notCompleted{
    background-color: lightcoral;
}